<div class="container" id ="wrapper">

<div class="jumbotron">
  <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2">
        <img src="assets/Redstarbird.svg" alt="Rebel Scum" height="100" width="100">
      </div>
      <div class="col-sm-10 col-md-10 col-lg-10">
        <h1>Star Wars Collectibles Scrapper</h1>
        <p>Powered by Jedi Temple Archives</p>
      </div>
  </div>
  <br>
  <p><a class="btn btn-danger btn-lg" href="/scrape" role="button">Find Articles</a></p>
</div>  

 <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6" id="articles">
        {{#each dbArticle}}
          <div class="panel panel-danger">
             <div class="panel-heading">
          	   <h6 class="panel-title">{{this.title}}</h6>
             </div>
             <div class="panel-body">
                <p><a href="{{this.link}}">Click to Read</a></p>
                 <a class="btn btn-danger" data-id="{{this._id}}" href="#" id='leavenote'><i class="swg swg-reball   swg-lg" aria-hidden="true"></i>Comment</a>
              </div>
          </div>
          <br>
        {{/each}}
      </ul>
    </div>
    
    <div class="col-sm-6 col-md-6 col-lg-6" id="notes">
    </div>
</div>

      <h4>Articles Property of Jedi Temple Archives http://www.jeditemplearchives.com</h4>
</div>

